.descriptionContainer {
  display: flex;

  gap: 12px;

  width: 100%;
  padding: 10px 24px;

  .avatarContainer {
    position: relative;

    overflow: hidden;

    width: 36px;
    height: 36px;

    border-radius: 50%;
  }

  .descriptionWrapper {
    width: 100%;
    max-width: 385px;

    .descriptionTextContainer {
      display: flex;
      gap: 24px;
      justify-content: space-between;

      .descriptionText {
        font-size: var(--font-size-s);
        word-break: break-word;

        .descriptionTextName {
          margin-right: 0.5rem;
          font-weight: var(--font-weight-bold);
        }
      }
    }

    .descriptionInfoContainer {
      display: inline-flex;
      gap: 12px;
      font-size: var(--font-size-xs);

      .descriptionTime {
        color: var(--color-light-900);
      }
    }
  }
}
.isLoggedIn {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
.pointer{
  cursor: pointer;
}