.home {
  margin-top:4.5rem;

  .homeContentWrapper {
    gap: 36px;

    .postsContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: space-between;
    }
  }
}
