.commentContainerWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .allComments {
    display: flex;
    flex-direction: column;
    height: 338px;
    overflow-y: scroll;
  }
}
.skeleton {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 24px;
}